<p><a href="<%= page_path(@conn, :index) %>">&laquo; Back to index</a></a>
<article>
	<h1><%= @blog_post.title %></h1>
	<p><%= @blog_post.date |> Calendar.Strftime.strftime!("%h %e %Y") %></p>
	<%= raw(@blog_post.content) %>
</article>
