<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>megalithic industries</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
  </head>
  <body class="pa4-l normal">
    <div class"bg-white h-100 pa3 ph0-l pv6-l">
      <div class="center mw7">
        <header class="">
          <section class="container">
            <div class="w-100 db">
              <nav class="tl w-100">
                <a href="/" class="link highlight-link hover-light-silver">megalithic industries</a>
                <ul class="fr list dib ma0 pa0">
                  <li class="dib mr2-ns"><a href="/thoughts/" class="link hover-gold">thoughts</a></li>
                  <li class="dib mr2-ns">○</li>
                  <li class="dib mr2-ns"><a href="/canon/" class=" link hover-gold">canon</a></li>
                  <li class="dib mr2-ns">○</li>
                  <li class="dib mr2-ns"><a href="/about/" class=" link hover-gold">about</a></li>
                </ul>
              </nav>
            </div>
          </section>
        </header>
        <main role="main" class="container">
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>
    </div>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
