<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="ROBOTS" content="<%= robots(@conn) %>">
    <meta name="keywords" content="<%= keywords(@conn) %>">
    <meta name="description" content="<%= description(@conn) %>">
    <title><%= title(@conn) %></title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.1/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.1/highlight.min.js"></script>
    <%# <script>hljs.initHighlightingOnLoad();</script> %>
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code').forEach((block) => {
          hljs.highlightBlock(block);
        });
      });
    </script>
  </head>
  <body class="pa4-l normal">
    <div class"bg-white h-100 pa3 ph0-l pv6-l">
      <div class="center mw8">
        <header class="pa3 pa0-ns">
          <section class="container">
            <div class="w-100 db">
              <nav class="tc tl-ns w-100">
                <a href="/" class="link highlight-link hover-light-silver f4">megalithic industries</a>
                <ul class="fn fr-ns list dib ma0 pa0 mt3 mt0-ns tc center w-100 w-auto-ns">
                  <li class="dib mr2-ns pa2 pa0-ns"><a href="/thoughts/" class="link hover-gold">thoughts</a></li>
                  <li class="dib mr2-ns pa2 pa0-ns">○</li>
                  <li class="dib mr2-ns pa2 pa0-ns"><a href="/canon/" class=" link hover-gold">canon</a></li>
                  <li class="dib mr2-ns pa2 pa0-ns">○</li>
                  <li class="dib mr2-ns pa2 pa0-ns"><a href="/about/" class=" link hover-gold">about</a></li>
                </ul>
              </nav>
            </div>
          </section>
        </header>
        <main role="main" class="ph3 ph0-l container">
          <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
          <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

          <%= render @view_module, @view_template, assigns %>
        </main>
        <footer class="pv5 pv6-l">
          <p class="f6"><span class="dib mr4 mr5-ns">&copy; <%= DateTime.utc_now().year %> megalithic industries</span>
            <%# <a class="link hover-gold" href="https://www.github.com/megalithic" title="github">github</a> / %>
            <%# <a class="link hover-gold" href="https://www.twitter.com/megalithic" title="twitter">twitter</a> / %>
            <%# <a class="link hover-gold" href="https://www.instagram.com/megalithic" title="instagram">instagram</a> / %>
            <%# <a class="link hover-gold" href="mailto:seth.messer@gmail.com" title="email">email</a> / %>
          </p>
        </footer>
      </div>
    </div>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
