<section class="mw8 center">
  <h2 class="fw1 pv2">mercantile</h2>
  <div class="mt2">
    <p class="p f4 tl measure-narrow lh-copy">
    <a href="https://www.etsy.com/shop/MegalithicMercantile" target="_blank">Megalithic Mercantile Etsy Shop</a>
    <a href="https://www.facebook.com/megalithic.mercantile" target="_blank">Megalithic Mercantile Facebook Page</a>
    </p>
  </div>
