body {
  font-family: "Inconsolata", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  /* max-width: 30em; */
  line-height: 1.5;
  color: #777777;
  margin-top: 0.25em;
}

p a,
li a {
  color: #ffb700;
  opacity: 1;
  transition: opacity 0.15s ease-in;
}
p a:hover,
p a:focus,
li a:hover,
li a:focus {
  opacity: 0.5;
  transition: opacity 0.15s ease-in;
}

nav a,
nav a:active,
nav a:focus,
nav a:hover,
nav a:link {
  color: #333333;
  transition: color 0.15s ease-in;
}

.highlight-link {
  position: relative;
  z-index: 1;
}

.highlight-link::after {
  background-color: #ffb700;
  bottom: 0;
  content: " ";
  display: block;
  height: 50%;
  left: 7px;
  opacity: 0.5;
  position: absolute;
  transition: all 0.15s ease-in-out;
  width: calc(100%);
  z-index: -1;
}

.post-content code.inline {
  font-size: 1.1em;
  font-family: monospace;
  background: #eeeeee;
}

.post-content code:not(.inline) {
  display: block;
  padding: 0.15em;
  background: #292929;
  color: #fafafa;
  font-weight: 400;
  font-style: normal;
  border-radius: 0.15em;
  /* white-space: pre-wrap; */
  /* word-wrap: break-word; */
  font-size: 1em;
  font-family: monospace;
  overflow: hidden;
  overflow-x: scroll;
  line-height: 1.3em;
}

.post-content code:not(.inline):before {
  display: block;
  width: calc(100%);
  margin-left: -2px;
  margin-top: -2px;
  padding: 2px;
  content: attr(class);
  background: #9baecf;
  font-style: italic;
}
