body {
  font-family: "Inconsolata", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.post-content p {
  max-width: 30em;
  line-height: 1.5;
  color: #777;
  margin-top: 0.25em;
}

.post-content p a {
  color: #ffb700;
  opacity: 1;
  transition: opacity 0.15s ease-in;
}
.post-content p a:hover,
.post-content p a:focus {
  opacity: 0.5;
  transition: opacity 0.15s ease-in;
}

.link,
.link:active,
.link:focus,
.link:hover,
.link:link,
.link:visited {
  color: #1c336a;
  transition: color 0.15s ease-in;
}

.highlight-link {
  position: relative;
  z-index: 1;
}

.highlight-link::after {
  background-color: #ffb700;
  bottom: 0;
  content: " ";
  display: block;
  height: 50%;
  left: 7px;
  opacity: 0.5;
  position: absolute;
  transition: all 0.15s ease-in-out;
  width: calc(100%);
  z-index: -1;
}
