.post-content p {
  max-width: 30em;
  line-height: 1.5;
  color: #777;
  margin-top: 0.25em;
}

.link {
  color: #1c336a;
}

.link,
.link:active,
.link:focus,
.link:hover,
.link:link,
.link:visited {
  -webkit-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
}
